langchain
langchain-core
langchain-community
langchain-openai
langchain-google-genai
langchain-anthropic
langchain-huggingface
sentence_transformers
faiss-cpu
chromadb
numpy
tiktoken
fastapi
uvicorn
python-dotenv
pydantic